:root {
  --main-color: #ff931e;
  --main-bgcolor1: #fafafa;
  --font-family1: "Hahmlet", serif;
  /* --font-family2: "Gaegu", cursive; */
}
body {
  overflow-x: hidden;
}
img {
  width: 100%;
}
.mw {
  max-width: 1100px;
  width: calc(100% -2rem);
  margin: auto;
}
.hdCon,
.ftCon {
  background-color: var(--main-color);
  height: 12.5vh;
}

.hd,
.ft {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.person a {
  font-family: var(--font-family1);
  font-weight: 600;
  font-size: 22px;
  padding: 1rem;
}
.person a:hover {
  color: #38c976;
}
.gnb {
  display: flex;
  padding: 2rem auto;
}
.gnb a {
  font-family: "Hahmlet";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  text-align: center;
  color: #888888;
  margin: 2rem;
}
.gnb a.on {
  border-bottom: 3px solid black;
  font-weight: 600;
  color: #0f0f0f;
}
.ft {
}
.ft .img {
  width: 130px;
}
.ft .logo {
  width: 100%;
}
.ft .Link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
}
.ft .Link a {
  margin-left: 0.5rem;
}
.ft .Email {
  font-family: var(--font-family1);
  font-size: 16px;
  font-weight: 600;
  color: white;
}
.mainbg {
  background-color: var(--main-color);
  height: 75vh;
}
/* =======================MainBanner====================== */
.MainBanner {
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  height: 100%;
}
.MainBanner p > * {
}
.MainBanner p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.MainBanner p:nth-of-type(1) span {
  font-family: var(--font-family1);
  font-size: 56px;
  font-weight: 600;
  color: white;
}
.MainBanner p:nth-of-type(1) span:nth-of-type(2) {
  display: flex;
  align-items: center;
  justify-content: center;
}
.MainBanner p:nth-of-type(1) img {
  width: 60%;
}
.MainBanner p:nth-of-type(2) span {
  font-family: var(--font-family1);
  font-size: 20px;
  font-weight: 300;
  color: white;
  margin-top: 0.3rem;
}
.MainBanner .btns button {
  outline: none;
  border: 3px solid #0f0f0f;
  border-radius: 40px;
  margin: 2rem;
  overflow: hidden;
  transition: 0.3s;
}
.MainBanner .btns button:hover {
  background: #39b54a;
}
.MainBanner .btns button:hover a {
  color: #0f0f0f;
}
.MainBanner .btns > button > a {
  display: block;
  padding: 22px 36px;
  width: 100%;
  height: 100%;
  font-family: "Hahmlet";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
}

/* =================Cart========================= */
.CartBody {
  background-color: #fbd6bd;
}
.Cart {
}
.Cart h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Hahmlet";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 46px;
}
.Cart a button {
  border-radius: 25px;
  text-align: center;
  font-family: "Hahmlet";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  padding: 1rem 2rem;
}
.Cart a button:hover {
  background: #e38233;
}
.Cart a:nth-of-type(2) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cartTable {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cartTable > * {
  border: 1px solid red;
}
.CartDetail {
  width: 100%;
  margin: 2rem;
}
.CartDetail th {
  padding: 2rem;
  width: 50%;
  text-align: center;
  font-family: "Hahmlet";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
}
.CartDetail > tr {
  border-top: 1px solid black;
}
.CartDetail tr > td {
  font-family: "Hahmlet";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  padding: 1rem;
}
.CartDetail tr > td > p > span {
  display: block;
}
/* #map {
  width: 100%;
  height: 100%;
} */

/* =================================================== */

@media (max-width: 1100px) {
}
@media (max-width: 700px) {
  .mw700 {
    max-width: 500px;
    width: calc(100% -2rem);
    margin: auto;
  }
  .logo img {
    width: 60%;
  }
  .MainBanner {
  }
  .MainBanner p:nth-of-type(1) span {
    font-size: 32px;
  }
  .MainBanner p:nth-of-type(2) span {
    font-size: 14px;
  }
  .MainBanner .btns > button {
    margin: 1rem;
  }
  .MainBanner .btns > button > a {
    padding: 24px 26px;

    font-size: 16px;
    padding: 0.5rem;
  }
  .ft .Email {
    font-size: 12px;
  }
  .ft .Link {
    width: 20%;
  }
  .gnb a {
    font-size: 16px;
    margin: 1rem;
    margin-left: 2rem;
  }
}
@media (max-width: 420px) {
  .mw420 {
    max-width: 300px;
    width: calc(100% -1rem);
    margin: auto;
  }

  .person a {
    font-size: 16px;
    padding: 0.5rem;
  }
  .MainBanner p:nth-of-type(1) span {
    font-size: 24px;
  }
  .MainBanner p:nth-of-type(2) span {
    font-size: 12px;
  }
  .MainBanner .btns > button {
    margin: 1rem;
  }
  .MainBanner .btns > button > a {
    padding: 24px 26px;

    font-size: 16px;
    padding: 0.5rem;
  }
  .Cart a button {
    font-size: 16px;
    padding: 0.5rem 1.5rem;
  }
  .CartDetail {
    margin: auto;
  }
  .CartDetail th {
    font-size: 20px;
  }
  .CartBody {
    min-height: 75vh;
  }
}
