.MainList {
}
.CartList h2 {
  font-family: "Hahmlet";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 46px;
  color: #39b54a;
  display: flex;
  align-items: center;
}
.CartList h2 span:nth-of-type(2) {
  color: black;
}
.CartList h2 img {
  width: 3%;
}
.listCon {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 2rem;
}
.cartCard {
  width: 45%;
  background: #ffffff;
  border: 4px solid #0f0f0f;
  margin-top: 1rem;
  border-radius: 30px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
}
.cartCard:hover {
  box-shadow: 5px 5px 1px black;
}
.cartCard > div {
  border-bottom: 3px solid black;
  padding: 1rem;
}
.cartCard div:nth-of-type(1) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cartCard div:nth-of-type(1) span {
  font-family: "Hahmlet";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 32px;
}
.cartCard div:nth-of-type(2) {
}
.cartCard div:nth-of-type(2) span {
  padding: 0.5rem;
  position: relative;
  font-family: "Hahmlet";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
}
.cartCard div:nth-of-type(2) span::after {
  content: ">";
  position: absolute;
  padding-left: 0.25rem;
}
.cartCard div:nth-of-type(2) span:nth-of-type(4)::after {
  display: none;
}
.cartCard div > img {
  width: 100%;
}
.CartList > span {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: "Hahmlet";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  padding: 1rem;
}
.CartList > span:hover a {
  color: #39b54a;
}
/* ===============BestPlace===================== */
.BestPlace {
  border: 4px solid #0f0f0f;
  border-radius: 50px;
  position: relative;
  margin-top: 8rem;
  margin-bottom: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.BestPlace > img {
  width: 25%;
  position: absolute;
  top: -15%;
  left: -10%;
}
.BestPlace .FavoriteMost {
  width: 100%;
  padding: 3rem;
}
.BestPlace .BookmarkMost {
  width: 50%;
  padding: 3rem;
}
.BestPlace .PickMost {
  width: 50%;
  padding: 3rem;
}
.BestPlace h4 {
  text-align: center;
  font-family: "Hahmlet";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 32px;
}
.FavoriteMost ul {
  display: flex;
}
.FavoriteMost ul li {
  width: calc(100% / 3);
  display: flex;

  border: 3px solid #0f0f0f;
  border-radius: 30px;
  overflow: hidden;
  padding: 1rem;
  margin: 1rem;
  font-family: "Hahmlet";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  transition: 0.3s;
  cursor: pointer;
}
.FavoriteMost ul li img {
  width: 40%;
  border-radius: 40%;
  border: 2px solid black;
}
.BookmarkMost ul li,
.PickMost ul li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border: 3px solid #0f0f0f;
  border-radius: 20px;
  padding: 2rem;
  margin: 1rem;
  font-family: "Hahmlet";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  transition: 0.3s;
  cursor: pointer;
}
.FavoriteMost ul li div p:nth-of-type(2),
.FavoriteMost ul li div p:nth-of-type(3),
.BookmarkMost ul li div p span:nth-of-type(2),
.PickMost ul li div p span:nth-of-type(2) {
  color: #7e7e7e;
  font-size: 12px;
}

.FavoriteMost ul li:hover {
  box-shadow: 5px 5px 1px black;
}
.BookmarkMost ul li:hover {
  box-shadow: 5px 5px 1px black;
}
.PickMost ul li:hover {
  box-shadow: 5px 5px 1px black;
}
.cartCard div:nth-of-type(2) {
  border-bottom: none;
}
@media (max-width: 1100px) {
  .FavoriteMost ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 700px) {
  .mw700 {
    max-width: 500px;
    width: calc(100% -2rem);
    margin: auto;
  }
  .BestPlace > img {
    width: 50%;
  }
  .FavoriteMost ul li {
    width: 100%;
  }

  .BestPlace .BookmarkMost {
    width: 100%;
  }
  .BestPlace .PickMost {
    width: 100%;
  }
}
@media (max-width: 420px) {
  body {
    overflow-x: hidden;
  }
  .mw420 {
    max-width: 300px;
    width: calc(100% -1rem);
    margin: auto;
  }
  .BestPlace > img {
    width: 25%;
    position: absolute;
    top: 0%;
    left: 0%;
  }
  .BestPlace .FavoriteMost,
  .BestPlace .BookmarkMost,
  .BestPlace .PickMost {
    padding: 1rem;
  }
}
